body {
    background: rgb(0, 0, 0);
    font: 24px Helvetica;
}

#main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    min-height: 800px;
}
#main article{
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(7, 109, 112);
    order: 2;
    flex: 3 1 60%;
}

.azorin{
    font-family: arial;
    font-size: 11px;
    border: 2px solid black;
    border-top: 22px solid rgb(216, 10, 10);
    padding: 2px;

}

img{
    border: 2px solid silver ;
    width: 300px;
    height: 300px;
    float: left;

}
nav ul {
    list-style: none;
}
nav ul li {
    text-decoration: none;
    color: rgb(2, 6, 59);
}
h1{
    display: block;
    justify-content: center;
    align-items: center;
    background:  black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px;
    width: 400px;
    border-radius: 40px;
 
}
#main nav{
    margin: 4px;
    padding: 5px;
    border: 1px solid rgba(137, 43, 226, 0.555);
    border-radius: 30px;
    background: rgb(4, 121, 95);
    flex: 1 6 20%;
    order: 1;
}

 #main .cuadro p{
    width: 300px;
    height: 300px;
    font-size: 15px;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    text-align: center;
} 

h2{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color:rgb(10, 113, 173);
    min-height: 30px;
    height: 40px;
}
#main aside{
    margin: 4px;
    padding: 5px;
    border: 1px solid rgb(212, 209, 206);
    border-radius: 30px;
    background: rgb(5, 189, 149);
    flex: 1 6 20%;
    order: 3;
}
header, footer{
    display: block;
    margin: 4px;
    padding: 5px;
    border: 1px solid rgb(156, 16, 211);
    border-radius: 15px;
    background-color: rgb(114, 11, 155);
    border-radius: 30px;

}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
}